# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables and secrets
.env
*.env

# Future cloud credentials
credentials.json
secrets.json

# Future ML model files
*.pkl
*.joblib

# Temporary files
*.tmp
*.log

# Generated CSVs
files_metadata.csv
sampled_files.csv
duplicate_results.csv
file_activity.csv
files_features.csv
files_context_features.csv
duplicate_context_results.csv
file_value_results.csv
final_ml_dataset.csv